<div class="add_post">
    <div class="form">
        <div>
            <textarea id="content" required autofocus></textarea>
        </div>
        <div class="resources">
            <div class="resource">
                <input id="resource" name="resource" type="file" accept="image/*,video/*,audio/*"/>
            </div>
            <!--
            <div class="resource">
                <input type="file" accept="image/*,video/*,audio/*"/>
            </div>
            <div class="resource">
                <input type="file" accept="image/*,video/*,audio/*"/>
            </div>
            -->
        </div>
        <p id="error-message" class="error-message"></p>
        <div class="btns">
            <button class="submit" id="submit">Submit</button>
        </div>
    </div>
</div>

{{ define "scripts-add_post" }}
<script>
    var submitBtn = document.getElementById('submit');
    var contentInput = document.getElementById('content');
    var errorMessageElement = document.getElementById('error-message');

    function showError(message) {
        errorMessageElement.innerText = message;
    }

    function clearError() {
        errorMessageElement.innerText = '';
    }

    var onSubmit = function () {
        clearError();
        var content = contentInput.value.trim();
        if (!content) {
            showError('Must have content and cannot be blank.');
            return;
        }
        submitting();
        uploadResource(function (err, res) {
            if (err) {
                showError(err);
                finishSubmit();
                return;
            }
            var postObj = {
                body: content,
            };
            if (res) {
                res.type = file.type;
                postObj.resources = [res];
            }
            ajax.post('/post', {
                data: JSON.stringify(postObj)
            }, function (res){
                var o = JSON.parse(res);
                if (o.code === 0) {
                    window.location.href = "/";
                    return;
                }
                showError(o.error);
                finishSubmit();
            });
        });
    };

    function submitting() {
        submitBtn.disabled = true;
        submitBtn.innerText = 'Submitting...';
    }

    function finishSubmit() {
        submitBtn.disabled = false;
        submitBtn.innerText = 'Submit';
    }

    submitBtn.onclick = onSubmit;

    var resource = document.getElementById('resource');
    var file = null;
    resource.addEventListener('change', function (e) {
        file = e.target.files[0];
    });

    function uploadResource(cb) {
        if (!file) {
            cb(null, null);
        } else {
            ajax.upload('{{ . }}', file, function (err, res) {
                if(err) {
                    return cb(err);
                }
                var res = JSON.parse(res);
                if (res.code === 0) {
                     return cb(null, res.payload);
                }
                cb(new Error(res.error))
            });
        }
    };
</script>
{{ end }}
