<div class="add_post">
    <form method="post" action="/post">
        <div>
            <textarea required rows="10" cols="50" name="body"></textarea>
        </div>
        <div class="resources">
            <div class="resource">
                <input type="file" accept="image/*,video/*,audio/*"/>
            </div>
            <div class="resource">
                <input type="file" accept="image/*,video/*,audio/*"/>
            </div>
            <div class="resource">
                <input type="file" accept="image/*,video/*,audio/*"/>
            </div>
        </div>
        <div class="btns">
            <button class="submit" type="submit">Submit</button>
        </div>
    </form>
</div>

{{ define "scripts-add_post" }}
<script src="/public/lib/jquery.js"></script>
<script>
    $(function () {
        $('input[type=file]').change(function () {
            console.log('file change');
        });
    });
</script>
{{ end }}
