{{ define "nav-index"}}
    <nav>
        <a href="/post">New post</a>
    </nav>
{{ end }}

<div class="home">
    <div class="posts">
        {{ range . }}
        <div class="post">
            <div class="label"><span class="time">{{.CreatedAt.Format "2006-01-02 15:05" }}</span></div>
            <div class="body">{{.Body}}</div>
        </div>
        {{ end }}
    </div>
</div>
