{{ define "nav-index"}}
    {{ if .IsLogin }}
        <nav>
            <a class="add-post" href="/post">post</a>
        </nav>
    {{ end }}
{{ end }}

{{ define "footer-index" }}
    <footer>
        by massimo
    </footer>
{{ end }}

<div class="home">
    <div class="posts">
        {{ $total := len $.Posts }}
        {{ range $index, $post := .Posts }}
        {{ $num := minus $total $index }}
        <div class="post">
            <div class="body">{{.HTML}}</div>
            <ul class="resources">
            {{ range .Resources }}
              <li>
                {{ if eq .Type "audio/mp3" }}
                    <a href="/m/{{$post.ID.Hex}}">[AUDIO]</a>
                {{ else if eq .Type "audio/x-m4a"}}
                    <a href="/m/{{$post.ID.Hex}}">[AUDIO]</a>
                {{ else }}
                  <a href="/m/{{$post.ID.Hex}}">[IMAGE]</a>
                {{ end }}
                </li>
              </li>
            {{ end }}
            </ul>
            <div class="label">
              <a class="link" href="/m/{{.ID.Hex}}">#{{ hex $num }}</a>
                <span class="time">{{.CreatedAt.Format "01/02/06 15:04" }}</span>
            </div>
        </div>
        {{ end }}
    </div>
</div>
