<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/public/favicon.ico"/>
        <meta name="viewport" content="width=device-width">
        <title>Camphor</title>
        <link href="/public/css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1 class="welcome"><a href="/"><img src="/public/logo/48.png" width="20" height="20"/>Camphor</a></h1>
        </header>
        {{ partial "nav" }}
        {{ yield }}
        {{ partial "footer" }}
        <script src="/public/js/lib.js"></script>
        {{ partial "scripts" }}
    </body>
</html>
