<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{.}}</title>
        <link href="public/style.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="welcome">Welcome to Camphor</h1>
        <nav>
            <a href="/post">New post</a>
        </nav>
        {{ yield }}
        {{ partial "footer" }}
        {{ partial "scripts" }}
    </body>
</html>
