<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Camphor | A corner for you to think.</title>
        <link href="public/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="welcome"><a href="/"><img src="/public/logo/48.png" width="20" height="20"/></a>Welcome to Camphor</h1>
        <nav>
            <a href="/post">New post</a>
        </nav>
        {{ yield }}
        {{ partial "footer" }}
        <script src="public/js/lib.js"></script>
        {{ partial "scripts" }}
    </body>
</html>
