<div class="single-post">
    <div class="post">
        <div class="body">{{.HTML}}</div>
        <ul class="resources">
        {{ range .Resources }}
            <li><img width="{{.Width}}" height="{{.Height}}" src="{{.URL}}" /></li>
        {{ end }}
        </ul>
        <div class="label">
            <span class="time">{{.CreatedAt.Format "01-02 15:04" }}</span>
            <a class="link" href="/m/{{.ID.Hex}}">#{{ .ID.Hex }}</a>
        </div>
    </div>
</div>
