html, body {
    font-family: "Microsoft Yahei", Arial,"Helvetica Neue",Helvetica,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    background: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Bright",Georgia,TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
}

pre, code {
    font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Bitstream Vera Sans Mono",Consolas,"Lucida Console",monospace;
}

nav {
}

.welcome {
    font-size: 20px;
}

@posts-split-line: 1px solid #DDD;

.home {
    .posts {
        margin: 20px 0;
        .post {
            padding: 20px 0;
            border-bottom: @posts-split-line;
            &:first-child {
                border-top: @posts-split-line;
            }
            .label {
                font-size: 12px;
            }
            .body {
            }
        }
    }
}

.add_post {
    form {
        margin: 10px 0;
        .resources {
            .resource {
                display: none;
                &:first-child {
                    display: block;
                }
            }
        }
        .btns {
            margin: 10px 0;
            .submit {
                width: 100px;
                height: 24px;
            }
        }
    }
}
