html,
body {
  font-family: "Microsoft Yahei", Arial, "Helvetica Neue", Helvetica, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lucida Bright", Georgia, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
pre,
code {
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", Consolas, "Lucida Console", monospace;
}
